/* Main Color : #e85858 */

body {
    font-family: 'latoregular', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

.news-highlight-header {
    border-bottom: 1px solid #ccc;
    margin-top: 24px;
    margin-bottom: 24px;
}

.news-highlight-header h2 {
    float: left;
    margin-bottom: 7px;
    margin-top: 0px !important;
    /*font-family: ,sans-serif;*/
    font-weight: 400;
    color: #e85858;
    font-size: 45px;
}

.header-buttons {
    float: right;
    margin-top: 10px;
}

.header-buttons li {
    float: left;
    margin: 8px 8px 0 0;
    list-style: none;
    font-size: 14px;
}

.header-buttons li a {
    padding: 9px;
    border: 1px solid #333;
    color: #333;
}

.header-buttons li a:hover {
    text-decoration: none;
}

.story-highlight {
    margin-top: 24px;
}

.story-highlight a {
    color: #333;
    font-size: 1.5em;
}

.top-highlight figure {
    margin-top: 15px;
}

.top-highlight img {
    width: 100%;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.story-highlight h6 {
    font-size: .9rem;
}

.story-highlight h2 {
    font-family: 'latoblack', sans-serif;
    margin-top: 0px;
}

h6 {
    font-family: 'latoregular', sans-serif;
    text-transform: uppercase;
    color: #e85858;
    margin: 0;
    line-height: 25px;
    font-weight: 400;
    font-size: 13px;
}

.medium-highlight figure {
    float: left;
    margin: 6px 18px 0 0;
    max-width: 140px;
}

.medium-highlight h4 {
    font-family: 'latobold', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    margin: 0 0 6px;
}

.story-highlight p {
    margin-bottom: 0;
    line-height: 21px;
}

.medium-highlight img {
    width: 100%;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    vertical-align: middle;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #fff;
    margin-top: 50px;
}

.footer p {
	margin-top:10px;
}