{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block styles %}
	{{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/font.css')}}">
    <link rel="shortcut icon" href="{{url_for('static',filename='images/news_logo.png')}}">
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<header class="news-highlight-header clearfix">
				<h2>News Highlight</h2>
				<div class="header-buttons">
					<li>
						<a href="">Politics</a>
					</li>
					<li>
						<a href="">Africa</a>
					</li>
					<li>
						<a href="">World</a>
					</li>
				</div>
			</header>
		</div>
		<!-- <h1>News Highlights</h1> -->
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<div class="story-highlight top-highlight">
					<h6>12&nbsp;minutes&nbsp;ago</h6>
					<h2><a href="">Uhuru signs law to clean up NYS</a></h2>
					<p>CS Kobia says embezzlement will become a thing of the past.</p>
					<figure class="">
						<a href=""><img src="{{url_for('static',filename='images/kenyatta.jpg')}}" alt=""></a>
					</figure>
				</div>
				{% for news in country %}
				<div class="story-highlight medium-highlight">
					<div>
						<figure>
							<a href=""> <img src="{{ news.img_url }}" alt=""></a>
						</figure>
						<h4><a href="{{ news.url }}">{{ news.title }}</a></h4>
						<p>{{ news.description }}</p>
						<p>Published at {{ news.publishedAt }}</p>
					</div>
				</div><br><br>
				{% endfor %}
			</div>
			<div class="col-md-3"></div>
		</div>
		<footer class="footer"><p>© 2018 All Rights Reserved. Moringa School, News Highlights Project. Developed by Yommie Samora.</p></footer>
	</div>
{% endblock %}